PORT=5002
JWT_SECRET=&1yv5Qpwf0SAk!Sy53kL1Gd8rdfZKocA62fi40Gf6kuL%5*ajyln
CLIENT_URL=127.0.0.1
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/auth?schema=public"
POSTGRES_DB=auth
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PGADMIN_DEFAULT_EMAIL=pgadmin@mail.com
PGADMIN_DEFAULT_PASSWORD=pgadmin
PGADMIN_PORT=5434