AUTH_SERVICE_PORT=5002
AUTH_SERVICE_JWT_SECRET=&1yv5Qpwf0SAk!Sy53kL1Gd8rdfZKocA62fi40Gf6kuL%5*ajyln
AUTH_SERVICE_CLIENT_URL=127.0.0.1
AUTH_SERVICE_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/auth?schema=public"
AUTH_SERVICE_POSTGRES_DB=auth
AUTH_SERVICE_POSTGRES_PORT=5433
AUTH_SERVICE_POSTGRES_USER=postgres
AUTH_SERVICE_POSTGRES_PASSWORD=postgres
PGADMIN_DEFAULT_EMAIL=pgadmin@mail.com
PGADMIN_DEFAULT_PASSWORD=pgadmin
PGADMIN_PORT=5434